.background    { background:url("bc.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;}
.lava          { background:#E42217; }
.wall          { background: #5882FA;   }

.actor  { position: absolute;  }
.coin { background:#FFFF33 ;border-radius: 100%;border: 1px solid #FF6600;}
.player { background: #660099; }

.game {
  overflow: hidden;
  max-width: 700px;
  max-height: 550px;
  position: relative;
}
.lost .player {
  background: #2E2E2E;
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
#score
{
	color:#5882FA;
    position: absolute;
    z-index: 100;
	margin-left:10px;
	margin-top:4px;	
	font-size:25px;
}
#game{
    z-index: 100;
	margin-left:220px;
	position: absolute;
	font-size:40px;
	margin-top:4px;	
	color:#5882FA;
}

#level{
    z-index: 100;
	margin-left:600px;
	position: absolute;
	font-size:25px;
	margin-top:4px;	
	color:#5882FA;
}

#description{
    z-index: 100;
	margin-left:100px;
	position: absolute;
	font-size:20px;
	margin-top:104px;	
	color:#5882FA;
}
